<% @recipes.each do |r| %>
  <div class="row">
    <div class="col-sm-4 col-lg-3">
      <a href="recipes/<%= r.id %>">
        <h4 class="text-center"><%= r.name %></h4> <br>
        <p><%= pluralize(r.ingredients.count, "Ingredient") %></p>
      </a>
    </div>
  </div>
<% end %>
