<h1><%= @recipe.name %></h1>
<p><%= @recipe.description %></p>

<h3>Ingredients</h3>
<% @recipe.quantities.each do |q| %>
  <p><%= q.amount + " " + q.ingredient.name %></p>
<% end %>

<h3>Instructions</h3>
<p><%= @recipe.instructions %></p>
