<h1 class="text-center" style="color: white; position: fixed; width: 100%; top: 50%; left: 0%; margin-top: 0px; font-size: 50px">Welcome To Recipe Saver</h1>
<%= video_tag(
  'restaurant.mp4',
  id: 'background-index',
  autoplay: true,
  loop: true,
  muted: true
)
%>
